<div class="row" style="margin-top:20px;">
    <div class="col col-4" style="text-align : left;">
        <button class="btn btn-primary" (click)="previous()" style="margin-right : 10px;">Previous</button>
        <input type="number" name="gotopage" class="form-control" [(ngModel)]="gotopage" style="width:100px;display:inline;" placeholder="Go to page">    
        <button class="btn btn-success" (click)="goTo()" style="margin-right : 10px;">Go To</button>
        <button class="btn btn-primary" (click)="next()" style="margin-right : 10px;">Next</button>
        <button class="btn btn-warning" (click)="getImages()" style="margin-right : 10px;">Reload Images</button>    
    </div>
    <div class="col col-4" style="text-align : center;">
        <button class="btn btn-success" (click)="pass()" style="margin-right : 10px;">Pass</button>
        <button class="btn btn-danger" (click)="fail()" style="margin-right:10px;">Fail</button>
        <input type="text" name="custommessage" class="form-control" [(ngModel)]="customMessage" (ngModelChange)="updateStatus($event)" style="width:200px;display:inline;" placeholder="Custom Message">    
    </div>
    <div class="col col-4" style="text-align : right;">
        <button class="btn btn-secondary" (click)="save()" style="margin-right : 10px;">Save</button>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col col-12">
        <table class="table table-bordered" *ngIf="displayColumns.length == 0">
            <thead>
                <th *ngFor="let col of csvData[0]">{{col}}</th>
            </thead>
            <tbody>
                <tr>
                    <td *ngFor="let col of csvData[currentIndex]">{{col}}</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered" *ngIf="displayColumns.length > 0">
            <thead>
                <th *ngFor="let col of displayColumns">{{csvData[0][col-1]}}</th>
            </thead>
            <tbody>
                <tr>
                    <td *ngFor="let col of displayColumns">{{csvData[currentIndex][col-1]}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row" style="margin-top:20px;">
    <div class="col col-6">
        <img class="view-image" *ngIf="image.image1" [src]="image.image1" alt="">
    </div>
    <div class="col col-6">
        <img class="view-image" *ngIf="image.image2" [src]="image.image2" alt="">
    </div>
</div>
<div class="row" style="margin-top : 20px;">
    <div class="col col-6">
        <img class="view-image" *ngIf="image.image3" [src]="image.image3" alt="">
    </div>
    <div class="col col-6">
        <img class="view-image" *ngIf="image.image4" [src]="image.image4" alt="">
    </div>
</div>
